@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Charmonman:wght@400;700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Gugi&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Black+Ops+One&family=Charmonman:wght@400;700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Gugi&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Black+Ops+One&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Charmonman:wght@400;700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Gugi&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Black+Ops+One&family=Bodoni+Moda:opsz,wght@6..96,700&family=Charmonman:wght@400;700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Gugi&family=Italiana&family=Tilt+Prism&display=swap');


/* Overall Container */
.home {
    font-family: "Montserrat", sans-serif;
    color: #efe9e1;
    background-color: #efe9e1; /* Dark background for elegance */
    text-align: center;

  }
  
  .hero-image {
    width: 100%;
    height: 900px; /* Visible height of the hero section */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll; /* Enables the parallax effect */
    border-bottom: 5px solid #72383d; /* Accent border */
    border-top: 5px solid #d1c7bd; /* Accent border */
  }

  .hero-image::before {
    content: ''; /* Create an empty pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 905px;
    background: rgba(0, 0, 0, 0.4); /* Apply dark overlay with opacity */
    z-index: 1; /* Place it above the background but below the content */
  }

  .hero-pic {
    width: 100%;
    border-bottom: 5px solid #72383d; /* Gold accent under the image */
    border-top: 5px solid #d1c7bd; /* Gold accent under the image */
  }
  
  /* Welcome Section */
  .welcome-text {
    font-family: "Montserrat", sans-serif; /* Modern thin sans-serif font */
    font-weight: 300;
    font-size: 80px;
    color: #efe9e1;
    margin: 0; /* Remove margin to center the text better */
    position: absolute; /* Absolutely position the text */
    top: 430px; /* Position it vertically */
    left: 50%; /* Position it horizontally */
    transform: translate(-50%, -50%); /* Adjust the position to truly center it */
    z-index: 2;
    text-shadow: 5px 5px 10px rgb(29, 17, 1); /* Adding the drop shadow */
  }

  .welcome-text::before {
    content: ''; /* Empty content for the pseudo-element */
    position: absolute; /* Position it absolutely */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.788); /* Semi-transparent black background for the haze effect */
    z-index: -1; /* Place the pseudo-element behind the text */
    border-radius: 8px; /* Optional: add rounded corners */
    filter: blur(20px); /* Apply a blur effect for soft edges */
  }

    .small-description {
      font-family: "Montserrat", sans-serif; /* Modern thin sans-serif font */
      font-weight: 300;
      font-size: 16px;
      color: #fff8efda;
      margin: 0; /* Remove margin to center the text better */
      position: absolute; /* Absolutely position the text */
      top: 490px; /* Position it vertically */
      left: 50%; /* Position it horizontally */
      transform: translate(-50%, -50%); /* Adjust the position to truly center it */
      z-index: 4;
    }

    .small-description::before {
      content: ''; /* Empty content for the pseudo-element */
      position: absolute; /* Position it absolutely */
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgb(0, 0, 0); /* Semi-transparent black background for the haze effect */
      z-index: -1; /* Place the pseudo-element behind the text */
      border-radius: 8px; /* Optional: add rounded corners */
      filter: blur(10px); /* Apply a blur effect for soft edges */
    }
  
  .reserve-btn {
    position: absolute; /* Positioning the button */
    background-color: hsla(0, 0%, 7%, 0.308); /* No background */
    border: 2px solid #fff; /* White border */
    color: #fff; /* White text */
    font-size: 25px; /* Font size */
    font-weight: 700; /* Font weight */
    top: 550px; /* Position it vertically */
    left: 50%; /* Position it horizontally */
    transform: translate(-50%, -50%); /* Adjust the position to truly center it */
    padding: 12px 40px; /* Padding inside the button */
    border-radius: 3px; /* Circular edges */
    cursor: pointer; /* Change cursor to pointer */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
    z-index: 6;
  }
  
  .reserve-btn:hover {
    background-color: #fff; /* White background on hover */
    color: #322d29; /* Change text color on hover */
    z-index: 7;
  }
  
  /* Dining Options Section */
  .footer-box {
    top: 670px;
    color: #131313;
    position: absolute;
    width: 100%;
    z-index: 17;
  }
  
  .footer {
    background-color: #72383d; /* Transparent overlay */
    border-top: 12px;
    border-top-style: solid;
    border-color: #411919;
    width: 100%;
    height: 223px;
    text-align: left;
  }
  
  .details-container {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
    gap: 40px; /* Add space between the two divs */
    text-align: left; /* Align text to the left within each div */
    padding: 0px; /* Optional: Add padding for spacing */
  }
  
  .contacts,
  .social-medias {
    flex: 1; /* Allow both divs to take equal width */
    max-width: 300px; /* Optional: Set a maximum width for each div */
  }
  
  .contacts {
    border-right: 1px solid #ddd; /* Add a vertical line between the sections */
    padding-right: 50px; /* Add padding inside the div */
    padding-bottom: 20px;
    margin-top: 23px;
    color:#ffffff;
    font-family: "Montserrat", sans-serif; /* Modern thin sans-serif font */
    font-weight: 300;
  }

  .contacts h1 {
    font-family: "Italiana", sans-serif;
    font-weight: 700;
    font-style: normal;
    color:#ffffff;
  }
  
.contacts-details {
  color:#ffffff;
  font-family: "Montserrat", sans-serif; /* Modern thin sans-serif font */
  font-weight: 300;
  font-size: 15px;
  line-height: 1.5;
}

  .social-medias {
    padding-left: 20px; /* Add padding inside the div */
    color:#ffffff;
    font-family: "Montserrat", sans-serif; /* Modern thin sans-serif font */
    font-weight: 300;
    font-size: 15px;
    line-height: 1.8; /* Space between lines */
  }

  /* Style links inside the .contacts and .social-medias divs */
.contacts a{
  color: #d1c7bd; /* White color for text */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Bold text */
  transition: color 0.3s ease, text-shadow 0.3s ease; /* Smooth transition */
}

.social-medias a {
  color: #d1c7bd; /* White color for text */
  text-decoration: none; /* Remove underline */
  font-weight: 300; /* Bold text */
  transition: color 0.3s ease, text-shadow 0.3s ease; /* Smooth transition */
}

.follow {
  color:#ffffff;
  font-family: "Montserrat", sans-serif; /* Modern thin sans-serif font */
  font-weight: 600;
}

/* Hover effect for links in .contacts and .social-medias */
.contacts a:hover,
.social-medias a:hover {
  color: #ffffff; 
}