@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Charmonman:wght@400;700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Gugi&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Black+Ops+One&family=Charmonman:wght@400;700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Gugi&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Black+Ops+One&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Charmonman:wght@400;700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Gugi&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Black+Ops+One&family=Bodoni+Moda:opsz,wght@6..96,700&family=Charmonman:wght@400;700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Gugi&family=Italiana&family=Tilt+Prism&display=swap');

.home {
    font-family: "Montserrat", sans-serif;
    color: #efe9e1;
    background-color: #efe9e1; 
    text-align: center;

  }
  
  .hero-image {
    width: 100%;
    height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll; 
    border-bottom: 5px solid #271d0a;
    border-top: 5px solid #d1c7bd;
  }

  .hero-image::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 905px;
    background: rgba(0, 0, 0, 0.4); 
    z-index: 1; 
  }

  .hero-pic {
    width: 100%;
    border-bottom: 5px solid #72383d; 
    border-top: 5px solid #d1c7bd; 
  }

  .welcome-text {
    font-family: "Montserrat", sans-serif; 
    font-weight: 300;
    font-size: 80px;
    color: #efe9e1;
    margin: 0; 
    position: absolute;
    top: 430px;
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    text-shadow: 5px 5px 10px #1d1101; 
  }

  .welcome-text::before {
    content: ''; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.788);
    z-index: -1; 
    border-radius: 8px; 
    filter: blur(20px); 
  }

    .small-description {
      font-family: "Montserrat", sans-serif; 
      font-weight: 300;
      font-size: 16px;
      color: #fff8efda;
      margin: 0; 
      position: absolute; 
      top: 490px; 
      left: 50%; 
      transform: translate(-50%, -50%); 
      z-index: 4;
    }

    .small-description::before {
      content: ''; 
      position: absolute; 
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgb(0, 0, 0); 
      z-index: -1; 
      border-radius: 8px; 
      filter: blur(10px); 
    }
  
  .reserve-btn {
    position: absolute; 
    background-color: hsla(0, 0%, 7%, 0.308);
    border: 2px solid #fff; 
    color: #fff; 
    font-size: 25px;
    font-weight: 700; 
    top: 550px; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 12px 40px; 
    border-radius: 3px; 
    cursor: pointer; 
    transition: all 0.3s ease; 
    z-index: 6;
  }
  
  .reserve-btn:hover {
    background-color: #fff; 
    color: #322d29; 
    z-index: 7;
  }

  .footer-box {
    top: 670px;
    color: #131313;
    position: absolute;
    width: 100%;
    z-index: 17;
  }
  
  .footer {
    background-color: #806d31; 
    border-top: 8px;
    border-top-style: solid;
    border-color: #271d0a;
    width: 100%;
    height: 227px;
    text-align: left;
  }
  
  .details-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 40px; 
    text-align: left; 
    padding: 0px; 
  }
  
  .contacts,
  .social-medias {
    flex: 1; 
    max-width: 300px;
  }
  
  .contacts {
    border-right: 1px solid #ddd; 
    padding-right: 50px;
    padding-bottom: 20px;
    margin-top: 23px;
    color:#ffffff;
    font-family: "Montserrat", sans-serif; 
    font-weight: 300;
  }

  .contacts h1 {
    font-family: "Italiana", sans-serif;
    font-weight: 700;
    font-style: normal;
    color:#ffffff;
  }
  
.contacts-details {
  color:#ffffff;
  font-family: "Montserrat", sans-serif; 
  font-weight: 300;
  font-size: 15px;
  line-height: 1.5;
}

  .social-medias {
    padding-left: 20px; 
    color:#ffffff;
    font-family: "Montserrat", sans-serif; 
    font-weight: 300;
    font-size: 15px;
    line-height: 1.8; 
  }

.contacts a{
  color: #ece6e1;
  text-decoration: none;
  font-weight: bold; 
  transition: color 0.3s ease, text-shadow 0.3s ease; 
}

.social-medias a {
  color: #ece6e1; 
  text-decoration: none;
  font-weight: 300; 
  transition: color 0.3s ease, text-shadow 0.3s ease; 
}

.follow {
  color:#ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.contacts a:hover,
.social-medias a:hover {
  color: #ffffff; 
}

.fb-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0px;
}

.fb-logo {
  display: flex;
  align-items: center;
  width: 30px;
  height: auto;
  margin-right: 8px;
}

.fb-container a {
  align-items: center;
  padding-top: 8px;
  display: flex;
}

.insta-container {
  display: flex;
  padding-top: 2px;
  justify-content: space-between;
  align-items: start;
  padding-bottom: 3px;
}

.insta-logo {
  display: flex;
  width: 30px;
  align-items: center;
  height: auto;
  margin-right: 8px;
  margin-bottom: 4px;
}

.insta-container a {
  display: flex;
  align-items: center;
  padding-top: 2px;
  margin-top: 3px;
}

.x-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0px;
}

.x-logo {
  display: flex;
  width: 24px;
  align-items: center;
  height: auto;
  margin-right: 11px;
  margin-left: 3px;
}

.x-container a {
  align-items: center;
  display: flex;
}