@import url('https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@400;700&display=swap');

body {
    font-family: 'Proxima Nova', sans-serif;
}

.meal-course-container {
    text-align: center;
    background-color: #e9e3dd;
}

.meal-course-grid {
    display: flex; 
    margin-top: 50px;
    flex-direction: row; 
    justify-content: space-around; 
    height: auto; 
    padding: 20px;
}

.meal-course-option {
    display: flexbox;
    width: 800px; 
    height: 417px; 
    border-radius: 12px;
    overflow: visible;
    transition: transform 0.3s, background-color 0.3s; 
    cursor: pointer;
    position: relative;
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: top center; 
    color: white; 
    margin: 0 10px;
    border: 1px solid #ddd; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.meal-course-option:hover {
    transform: translateY(-5px); 
    background-color: rgba(255, 255, 255, 0.2);
}

.course-info {
    display: flexbox;
    position: absolute; 
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); 
    padding-top: 20px;
    padding: 10px;
    text-align: center;
    border-top: 4px solid #ffffff; 
    border-bottom: 2px solid #ffffff;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: 2px solid #ffffff; 
    border-left: 2px solid #ffffff; 
}

.selected {
    border-top: 5px solid #007bff; 
    border-bottom: 5px solid #007bff; 
}

.button-container {
    display: flex; 
    justify-content: space-between; 
    margin-top: 20px; 
    align-items: center; 
}

.previous-button {
    position: absolute;
    background-color: #440f0f;
    color: white; 
    font-size: 18px; 
    padding: 15px 30px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    bottom: 20px; 
    right: 140px; 
    transition: background-color 0.3s; 
}

.previous-button:hover {
    background-color: #472929; 
}

.next-button {
    background-color: #322d29; 
    color: white; 
    font-size: 18px; 
    padding: 15px 30px; 
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s; 
    bottom: 20px;
    right: 30px; 
}

.next-button:hover {
    background-color: #585049; 
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: bold; 
    text-align: center; 
}

