    @import url('https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@400;700&display=swap');

    body {
        font-family: 'Proxima Nova', sans-serif; 
        background-color: #e9e3dd; 
    }

    .reservation-details {
        display: flex;
        height: auto; 
        padding: 20px;
    }

    .calendar-section, .time-section, .party-size-section {
        flex: 1; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start; 
        margin: 10px; 
        border: 1px solid #ddd; 
        border-radius: 8px; 
        padding: 10px; 
        background-color: #ffffff; 
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
        height: 400px;
        margin-top: 80px;
    }

    .custom-calendar {
        width: 100%; 
        height: 60%; 
        border: none; 
    }

    .section-title {
        font-size: 20px; 
        margin-bottom: 50; 
        font-weight: bold; 
        text-align: center;
        width: 100%; 
    }

    .title-divider {
        width: 100%;
        height: 2px;
        background-color: #ddd; 
        margin-bottom: 10px; 
    }

    .time-buttons, .party-size-buttons {
        display: flex;
        flex-direction: column; 
        width: 100%;
    }

    .time-button, .party-size-button {
        background-color: white; 
        color: black; 
        font-size: 18px;
        padding: 15px; 
        margin: 5px 0; 
        border: 1px solid black;
        border-radius: 5px; 
        cursor: pointer; 
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
        width: 100%; 
    }

    .time-button:hover, .party-size-button:hover {
        background-color: #322d29; 
        color: white; 
    }

    .time-button.selected, .party-size-button.selected {
        background-color: #322d29; 
        color: white; 
        border-color: #000000;
        border-width: 1px;
        
    }

    .next-button {
        position: absolute;
        bottom: 20px; 
        right: 30px; 
        background-color: #322d29; 
        color: #ffffff; 
        font-size: 16px; 
        padding: 10px 15px; 
        border: none; 
        border-radius: 5px;
        cursor: pointer; 
        transition: background-color 0.3s; 
    }

    .next-button:hover {
        background-color: #3d3417; 
    }

    h2 {
    margin-top: 10px;
    margin-bottom: 20px; 
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    }